<h1>Badges</h1>

<p>
  <%= link_to 'Create New Badge', new_badge_path, class: "btn btn-primary" %>
</p>

<table id='badge_index_table' class='dtable cell-border table table-striped table-bordered' cellspacing='0' width='100%'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th class="w-25"></th>
    </tr>
  </thead>

  <tbody>
    <% @badges.each do |badge| %>
      <tr>
        <td><%= badge.name %></td>
        <td><%= badge.version %></td>
        <td><%= link_to 'Show/Edit', badge, class: "btn btn-primary btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<script type="text/javascript">
$(document).ready(function(){
  $('#badge_index_table').DataTable({
    "pageLength": 15,
    "lengthMenu": [ [10, 15, 25, 50, -1], [10, 15, 25, 50, "All"] ],
    "order": [[ 0, "asc" ],[1, "asc"]],
    "columnDefs": [
      { "targets": [2], "orderable": false}
    ]
  });
});

</script>
